@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #FAFAF8;
}
::-webkit-scrollbar-thumb {
  background: #C4B5D8;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6B2FA0;
}
